html,body,div,p,h3,ul,li{
	margin: 0px;
	padding: 0px;
}
html {
	width: 100%;
	height: 100%;
	background-color: #EDEAEA;
}
body {
	width: 100%;
	height: 100%;
}
p {
	font-size: 40px;
}
h3 {
	font-size: 80px;
}
.navBar {
	display: none;
	height: 27px;
	font-size: 100%;
	background-color: #D3D1D1;
}
.navBar ul {
	list-style-type: none;
}
.navBar ul a  {	
	display: inline-block;
	text-decoration: none;
	margin-left: 3%;
	color: #000;
}
#languages {
	display: block;
	margin-left: 5%;
	width: auto;
	font-size: 25px;
}
#countryNames {
	display: none;
	width: 50px;	
	background-color: #F8F5F5;
	z-index: 100;
}
.row {
	width: 100%;
	height: 94.5%;
	display: block;
}
.col {
	width: 50%;
	height: 100%;
	float: left;
}
.labelBlock {
	padding-top: 10%;
}
.centerLabelBlock {
	padding-top: 12%;
}
.freqBlock {
	margin: 0px;
	width: 100%;
	height: 52.9%;
	outline: 1px solid black;
	text-align: center;
	transition: background-color 1s;
}
.freqBlock:active {
	background-color: #CDCBCB;
}
.freqBlock.active {
	background-color: #F12828;
}
.center {
	border-radius: 40%;
	position: absolute;
	width: 22%;
	height: 28%;
	top: 36%;	
	left: 39%;
	z-index: 100;
	text-align: center;
	border: 1px solid black;
	background-color: #FDF9F9;
	transition: background-color 0.5s;
}
.center:active {
	background-color: #CDCBCB;
}
.center.inactive {
	background-color: #D3D1D1;
}
/*Portrait Tablet*/
@media (min-width: 481px) and (max-width: 768px) {
	.labelBlock {
		padding-top: 3%;
	}
	.centerLabelBlock {
		padding-top: 7%;
	}
	#languages {
		font-size: 20px;
	}

	#countryNames {
		width: 80px;
	}
	p {
		font-size: 30px;
	}
	h3 {
		font-size: 70px;
	}
}

/*Landscape smart phone*/
@media (min-width: 321px) and (max-width: 480px) {
	.labelBlock {
		padding-top: 0%;
	}
	.centerLabelBlock {
		padding-top: 7%;
	}
	#languages {
		font-size: 15px;
	}

	#countryNames {
		width: 70px;
	}
	.freqBlock {
		height: 55%;
	}
	p {
		font-size: 25px;
	}
	h3 {
		font-size: 50px;
	}
}

/*Portrait smart phone*/
/*@media (max-width: 320px) {
	.labelBlock {
		padding-top: 10%;
	}
	#languages {
		font-size: 10px;
	}

	#countryNames {
		width: 50px;
	}
	.center {
		width: 20%;
		height: 20%;
		top: 50%;
	}
}*/